{% extends "base.html" %} {% block content %}

<h2>Welcome to Skin cancer detector</h2>
<div class="body">
    <form id="upload-file" method="post" enctype="multipart/form-data">
        </div>

        <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg">
        <br>
        <label for="imageUpload" class="upload-label">
            Upload Your Picture
        </label>
    </form>

    <div class="image-section" style="display:none;">
        <div class="img-preview">
            <div id="imagePreview">
        </div>
    </div>
        <div>
            <button type="button" class="btn btn-primary btn-lg " id="btn-predict">Predict!</button>
        </div>
    </div>

    <div class="loader" style="display:none;"></div>

    <h3 id="prediction">
        <span> </span>
    </h3>
    <h3 id="confidence">
        <span> </span>
    </h3>

</div>

{% endblock %}
